
    <div class="tiamat">
      <%= image_tag("rise_of_tiamat") %>
    </div>

    <h1>Finding the joy of Dungeons and Dragons</h1>
    <hr class=horiz_rule />
    <br/>
    <p>
      <span class=dropcap>W</span>hat is Dungeons and Dragons? Many people have heard of it. Of those that have
      heard of it, few of them have actually played it. Please allow me to demystify
      this amazing game. It's a game of cooperative storytelling. A game of action, intrigue,
      and unpredicatable happenings as the dice are sometimes the true masters of the game.
    </p>
    <br />

    <h2>A dice game?</h2>
    <br />
    <p>
      <span class=dropcap>A</span>t its heart, Dungeons and Dragons (hereafter referred to as D&D) is a dice game.
      It started off in the 1970s as a tabletop army battle simulator.  But instead of
      armies,you had a party of heroes versus a party of monsters. Those parties would meet
      in dungeons and battle it out. Over the years, however, it has transformed and players now
      play their characters, instead of them being pawns on a board.
    </p>

    <p>
      <span class=dropcap>W</span>hile most people are familiar with the Six-sided die, in D&D we use seven different dice. Dice
      are referenced by their number of sides. For example, a six-sided dice in D&D notation would be called a
      d6.  The other dice we use are:
      <div class=dicelist>
        <ul>
        <li>
          d20 <%= image_tag("d20.png", alt: "Image of a twenty-sided die") %>
        </li>
        <li>
          d12
        </li>
        <li>
          d10 <%= image_tag("d10.png", alt: "Image of a ten-sided die") %> (2 different types of d10s are used)
        </li>
        <li>
          d8
        </li>
        <li>
          d6 <%= image_tag("d6.png", alt: "Image of a six-sided die") %>
        </li>
        <li>
          d4
        </li>
      </ul>
    </div>
    </p>

    <div class="floatbox">
      <h3>Best in Groups</h3>
      <p>
        <span class="dropcap">D&D</span> is best played with your friends. One of you will be the Dungeon Master, the person in charge of the story. The rest of you will be be characters involved in the fantasy world the story takes part in.
      </p>
      <p>
        <span class="dropcap">D</span>epending on the group, sessions can last anywhere from an hour to 12 hours. Keep in mind that groups that play for 12 hours are the hardcore gamers and it's by no means expected that your group will play for that long.
      </p>
    </div>
<br />
  <div class="criticalrole">
  <h2>What does D&D look like?</h2>
  <p>
    <span class="dropcap">H</span>ere is an example of what D&D looks like while being played. This clip is the cast of Geek and Sundry's <a href="https://geekandsundry.com/shows/critical-role/">Critical Role</a> playing their game. Please be advised there is strong language in this clip.
    <br />
     <iframe width="560" height="315" src="https://www.youtube.com/embed/DXu7W44rWbg" frameborder="0" allowfullscreen></iframe>
  </p>
</div>
